body {
  margin: 0;
  color: white;
  background-color: rgb(32,42,68);
  font-family: Arial, Helvetica, sans-serif;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background-color: white;
}

li {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  padding: 15px 30px;
}

li a {
  text-decoration: none;
  color: rgb(32,42,68);
  font-weight: bold;
}

.home {
  display: flex;
}

.welcome {
  padding: 10% 10%;
}

h1 {
  font-size: 60px;
  margin-bottom: 10%;
}

h2 {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 20%;
}

.welcome p {
  font-size: 18px;
}

img {
  width: 20%;
  height: 40%;
  margin: 7% 10%;
  border: 1px solid white;
  border-radius: 8px;
  padding: 5px;
}